/**
  * @name Core+
  * @author Coreo#1082 - DevEvil#8745
  * @version 69420
  * @description Edited version of Dark+ by Coreo
  * @invite d666
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');


    .sidebar-1tnWFu .wrapper-NhbLHG {
        padding: 2px;
        height: 30px;
        display: flex;
        flex-flow: row nowrap;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .unread-36eUEm {
        display: none;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        padding: 0 2px;
        margin: 0;
        border-radius: 0;
        flex: 1 1 auto;
        align-items: center;
        background: transparent;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        flex: 1 1 auto;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp .iconContainer-21RCa3 {
        height: 1.2rem;
        width: 1.2rem;
        margin: 0;
        padding: 4px 10px;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp .iconContainer-21RCa3 .icon-2W8DHg {
        height: 100%;
        width: 100%;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp .name-28HaxV {
        font-size: 1rem;
        line-height: normal;
        padding: 4px 8px;
        flex: 1 1 auto;
        width: 0;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G {
        height: 1.2rem;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .iconItem-1EjiK0 {
        height: 1.2rem;
        width: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0;
        transition: 0.2s linear;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .iconItem-1EjiK0 .actionIcon-2sw4Sl {
        height: 100%;
        width: 100%;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .channelInfo-3jN1ay {
        display: block;
        margin: 0;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .channelInfo-3jN1ay .mentionsBadge-3H1BKJ {
        display: flex;
        flex-flow: row nowrap;
        position: static;
    }

    .sidebar-1tnWFu .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .channelInfo-3jN1ay .mentionsBadge-3H1BKJ .numberBadge-37OJ3S {
        height: unset;
        width: unset !important;
        min-height: unset;
        min-width: unset;
        background: transparent !important;
        font-size: 1rem;
        line-height: normal;
        padding: 2px 6px 2px 10px;
    }
:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #e5d0ff;
  --darkplus-home-icon: url(https://media.discordapp.net/attachments/1022224424105168916/1022596178187124777/Video.gif?width=546&height=528);
 --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --darkplus-emoji-picker-color: 210deg;
}


    .sidebar-1tnWFu .wrapper-NhbLHG:hover .children-1MGS9G .iconItem-1EjiK0 {
        width: 1.2rem;
        padding: 2px 4px;
    }


.titleBar-1it3bQ::before {
    content: "C O R E O";
    position: absolute;
    top: 2px;
    left: 10px;
    height: 10px;
    color: #bb86fc;
    font-weight: 600;
    font-size: 13px;
}

.titleBar-1it3bQ .wordmark-2u86JB {
    display: none;
}
